$base-padding: 10px;
$base-flex-gap: 25px;
$note-flex-gap: 10px;
$header-color: rgba(0, 255, 255);
$main-color: rgba(175, 238, 238, .2);
$footer-color: rgba(0, 255, 255, .9);
$aside-color: rgba(102, 205, 170, .8)